/*init vars*/
*{
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-family: GothamLight;
  font-size: 15px;
  box-sizing: border-box;
}
@font-face {
  font-family: "GothamLight";
  src: url('../fonts/GOTHAM-LIGHT.OTF');
}
@font-face {
  font-family: "GothamBold";
  src: url('../fonts/GOTHAM-BOLD.OTF');
}
@font-face {
  font-family: "OcraExt";
  src: url('../fonts/OCRAEXT.TTF');
}
@font-face {
  font-family: "Friz";
  src: url('../fonts/FRIZQUADRATATT.TTF');
}
$main-gold : #c5a66c;
.container{
  width: 1000px;
  margin: auto;
}
.gold{
  color: $main-gold;
}
.center{
  text-align: center;
}
.ocra-small{
  font-family: OcraExt;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/*init vars*/

/*navbar*/
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: $main-gold;
  z-index: 15;
  .logo-container{
    display: inline-block;
    padding: 30px 0;
  }
  .nav-ul{
    display: inline-block;
    padding: 0px 0;
    float: right;
    ul{
      li{
        display: inline-block;
        color: $main-gold;
        cursor: pointer;
        padding: 30px 20px;
        font-family: "GothamBold";
        position: relative;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
      }
      li:after{
        content: "";
        height: 18px;
        width: 18px;
        background-image: url(../img/global/geometric.png);
        position: absolute;
        z-index: 8;
        left: 50%;
        -webkit-transform: translateX(-50%) rotateZ(-45deg);
                transform: translateX(-50%) rotateZ(-45deg);
        bottom: 10px;
        background-size: contain;
        opacity: 0;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
      }
      li:hover{
        color: white;
      }
      li:hover:after{
        background-image: url(../img/global/geometric.png);
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        opacity: 1
      }
      li.active{
        color: white;
      }
      li.active:after{
        background-image: url(../img/global/geometric.png);
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        opacity: 1
      }
    }
  }
}
/*navbar*/

/*index*/

.fill-section{
  width: 100%;
  min-height: 100vh;
  background: #111;
  position: relative;
  background-size: cover;
  background-position: center center;
  text-align: center;
  background-attachment: fixed;
  opacity: 0.9;
  -webkit-transition: all .9s ease;
  transition: all .9s ease;
}
.fill-section.active{
  opacity: 1;
}
.down-arrow{
  width: 30px;
  height: 30px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: rotateZ(45deg) translateX(-50%);
          transform: rotateZ(45deg) translateX(-50%);
}
.ocra-small{
  font-size: 15px;
  margin-bottom: 5px;
  letter-spacing: 2px;
}
.friz{
  font-family: Friz;
  margin-top: 10px;
  font-size: 35px;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#Home{
  background-image: url(../img/index/home-bg.png);
  opacity: 0.5;
  .penta{
    background-image: url(../img/index/penta.png);
    height: 450px;
    width: 450px;
    position: absolute;
    background-position: center center;
    background-size: cover;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .hand{
    height: 110%;
    z-index: 5;
    -webkit-transform: translateY(-100px) translateX(-30px);
            transform: translateY(-100px) translateX(-30px);
    position: relative;
    -webkit-transform-origin: 210px 210px;
            transform-origin: 210px 210px;
  }

  .hand-text{
    font-family: Friz;
    color: white;
    opacity: 0.7;
    font-size: 45px;
    z-index: 5;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -20px;
    width: 550px;
    text-align: center;
    letter-spacing: 1px;
    .gap{
      width: 130px;
      display: inline-block;
    }
  }
  .est-text{
    width: 800px;
    color: $main-gold;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 18px;
    font-family: OcraExt;
    font-weight: bold;
    .gap{
      width: 450px;
      display: inline-block;
    }
  }
}

.prop-1{
  position: absolute;
  top: 30%;
  left: 10%;
  animation: float-1 9s ease-in-out infinite;
  transition: top 1.3s ease, left 1.3s ease, transform 1.6s ease, background .5s ease;
}
.prop-2{
  position: absolute;
  top: 30%;
  right: 10%;
  animation: float-1 9s ease-in-out infinite;
  transition: top 1.3s ease, left 1.3s ease, transform 1.6s ease, background .5s ease;
}
// .prop-1:hover{
//   background: white;
// }
@keyframes float-1 {
  0%{
    // transform: rotateZ(-39deg);
    perspective: 0px;
  }
  50%{
    // transform: rotateZ(-278deg);
    perspective: 150px;
  }
  // 55%{
  //   transform: rotateZ(-288deg);
  //   perspective: 150px;
  //   top: 35%;
  //   left: 12%;
  // }
  100%{
    // transform: rotateZ(-39deg);
    perspective: 0px;
  }
}
#Story{
  background-image: url(../img/vid.mp4);
  .video{
    -webkit-filter: blur(5px) grayscale(100%);
            filter: blur(5px) grayscale(100%);
    height: 100%;
    width: 100%;
    display: none;
  }
  .story-container{
    position: absolute;
    top: 45%;
    left: 50%;
    background-size: contain;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-image: url(../img/index/black-crumble.png);
    background-position: center center;
    padding: 65px;
    width: 1000px;
    height: auto;
  }
  img{
    margin: 20px 0;
    -webkit-animation: workImg 2s infinite;
            animation: workImg 2s infinite;
    position: relative;
  }
  .paragraph{
    text-align: justify;
    margin-top: 10px;
    line-height: 27px;
    color: $main-gold;
  }
}
@-webkit-keyframes workImg {
  0%{
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100%{
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }

}
@keyframes workImg {
  0%{
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100%{
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }

}
#Work{
  background-image: url(../img/index/work-bg.png);
  padding: 5vw 0 10vw;
  background-attachment: fixed;
  height: auto;
  .filter{
    margin: 30px 0;
    ul{
      color: white;
      li{
        display: inline-block;
        padding: 10px 20px;
        cursor: pointer;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
      }
      li:hover, li.active{
        color: $main-gold;
      }
    }
  }
}
.gallery{
  width: 100%;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.thumbs-parent{
  width: 25%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  opacity: 1;
}
.thumbs-parent.nonactive{
  -webkit-transform: scale(.5);
          transform: scale(.5);
  width: 0;
  /* width: 1%;*/
}
.thumb-img{
  width: 100%;
  height: auto;
  display: block;
  -webkit-transition: all .7s cubic-bezier(0.88, -0.07, 0.17, 1.04);
  transition: all .7s cubic-bezier(0.88, -0.07, 0.17, 1.04)
}

.hover-tint{
  background: rgba(80,80,80,0.65);
  index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  opacity: 0;
}
.border{
  border: 1px solid $main-gold;
  padding: 20px;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
  -webkit-transition: all .5s cubic-bezier(0.88, -0.07, 0.17, 1.04);
  transition: all .5s cubic-bezier(0.88, -0.07, 0.17, 1.04)

}
.img-caption{
  color: white;
  text-transform: capitalize;
  font-size: 20px;
  position: absolute;
  top: 15%;
  -webkit-transition: all .3s cubic-bezier(0.88, -0.07, 0.17, 1.04);
  transition: all .3s cubic-bezier(0.88, -0.07, 0.17, 1.04);
  letter-spacing: 1px;
}
.magnifier{
  bottom: 15%;
  color: white;
  position: absolute;
  -webkit-transition: all .3s cubic-bezier(0.88, -0.07, 0.17, 1.04);
  transition: all .3s cubic-bezier(0.88, -0.07, 0.17, 1.04)
}
.thumbs-parent:hover{
  .thumb-img{
    -webkit-filter: blur(9px);
            filter: blur(9px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .hover-tint{
    opacity: 1;
    z-index: 5
  }
  .border{
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  .img-caption{
    top: 30%;

  }
  .magnifier{
    bottom: 40%;
  }
}

#Book{
  background-image: url(../img/index/contact-bg.png);
  .ocra-small{
    padding-top: 9vw;
  }
  .book-module{
    img{
      height: 120px;
    }
  }
  .book-container{
    margin: auto;
    width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 7vw;
  }
  .book-caption{
    color: $main-gold;
    font-family: "Friz";
    margin: 10px 0;
    text-align: center;
    letter-spacing: 1px;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 30px;
  }
  .book-subcaption{
    color: white;
    font-family: "OcraExt";
  }
}

#Footer{
  background-image: url(../img/index/footer-bg.png);
  padding: 5vw 0;
}
form{
  width: 450px;
  margin: 50px auto;
  .footer-input{
    width: 100%;
    display: block;
    background: #050505;
    border: 1px solid #eee;
    padding: 15px 20px;
    margin: 25px 0;
    font-family: OcraExt;
    color: white;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    outline: none;
  }
  textarea.footer-input{
    height: 140px;
    resize: none;
  }
  .footer-input:focus{
    background: #eee;
    color: black;
    border: 1px solid $main-gold;
  }

}
.footer-caption{
  color: $main-gold;
  text-align: center;
  width: 600px;
  margin: auto;
  line-height: 25px;
  margin-top: 50px;
}
.footer-copyright{
  color: white;
  text-align: center;
  margin-top: 50px;
  font-family: OcraExt;
}
.popup-parent{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 15;
  position: fixed;
  display: none;
  .popup-img-container{
    padding: 5px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .popup-img{
    display: block;
    min-height: 500px;
  }
}
.mousetrail{
  position:absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  margin:auto;
  width: 20px;
  height: 20px;
  background: white;
}
.parrallax-item{
  width: auto;
  height: auto;
  display: inline-block;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}
/*index*/

/*page-load*/
.init-page-load{
  width: 100%;
  height: 100vh;
  background: black;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background-size: cover;
  background-image: url(../img/index/load-bg.png);
  background-position: center center;
  -webkit-transition: all 1.2s cubic-bezier(0.59, -0.15, 0.15, .87);
  transition: all 1.2s cubic-bezier(0.59, -0.15, 0.15, .87);
  background-repeat: no-repeat;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
  .penta-2{
    background-image: url(../img/index/penta-2.png);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotateZ(00deg);
            transform: translate(-50%, -50%) rotateZ(00deg);
    background-position: center center;
    background-size: contain;
    padding: 8vw;
    background-repeat: no-repeat;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-animation: CW-spin 80s infinite linear;
            animation: CW-spin 80s infinite linear;
  }
  .logo-circ{
    -webkit-transform: rotateZ(-80deg);
            transform: rotateZ(-80deg);
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-animation: CCW-spin 80s infinite linear;
            animation: CCW-spin 80s infinite linear;
  }
  .spinner{
    width: 100vh;
    height: 100vh;
    margin: auto;
    position: absolute;
    border: 1px solid #333;
    border-radius: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) rotateZ(-80deg);
            transform: translateX(-50%) rotateZ(-80deg);
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-animation: CW-spin2 50s infinite linear;
            animation: CW-spin2 50s infinite linear;
  }
  .line-1{
    content: "";
    border: 1px solid $main-gold;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width:0;
    height: 80px;
  }
  .line-2{
    content: "";
    border: 1px solid $main-gold;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width:0;
    height: 80px;
  }
  .enter-btn{
    font-family: OcraExt;
    color: white;
    position: absolute;
    bottom: 15%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 24px;
    cursor: pointer;
    text-transform: uppercase;
    z-index: 25;
    width: 400px;
    background: black;
    border: 1px solid white;
  }
  .enter-btn::after{
    content: "";
    background-image: url(../img/global/geometric.png);
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    bottom: -75px;
    z-index: 5;
    width: 35px;
    height: 35px;
    background-position: center center;
    background-size: contain;
  }
}
@-webkit-keyframes CCW-spin {
  0%{
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    opacity: 1;
  }
  49%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  51%{
    opacity: 1;
  }
  100%{
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    opacity: 1;
  }
}
@keyframes CCW-spin {
  0%{
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    opacity: 1;
  }
  49%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  51%{
    opacity: 1;
  }
  100%{
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    opacity: 1;
  }
}
@-webkit-keyframes CW-spin {
  0%{
    -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
            transform: translate(-50%, -50%) rotateZ(0deg);
  }
  45%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  55%{
    opacity: 1;
  }
  100%{
    -webkit-transform: translate(-50%, -50%) rotateZ(-360deg);
            transform: translate(-50%, -50%) rotateZ(-360deg);
  }
}
@keyframes CW-spin {
  0%{
    -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
            transform: translate(-50%, -50%) rotateZ(0deg);
  }
  45%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  55%{
    opacity: 1;
  }
  100%{
    -webkit-transform: translate(-50%, -50%) rotateZ(-360deg);
            transform: translate(-50%, -50%) rotateZ(-360deg);
  }
}
@-webkit-keyframes CW-spin2 {
  0%{
    -webkit-transform: translateX(-50%) rotateZ(0deg);
            transform: translateX(-50%) rotateZ(0deg);
  }
  100%{
    -webkit-transform: translateX(-50%) rotateZ(360deg);
            transform: translateX(-50%) rotateZ(360deg);
  }
}
@keyframes CW-spin2 {
  0%{
    -webkit-transform: translateX(-50%) rotateZ(0deg);
            transform: translateX(-50%) rotateZ(0deg);
  }
  100%{
    -webkit-transform: translateX(-50%) rotateZ(360deg);
            transform: translateX(-50%) rotateZ(360deg);
  }
}

.init-page-load.clicked{
  top: -100vh;
  opacity: 8;
  .penta-2{
    -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
            transform: translate(-50%, -50%) rotateZ(0deg);
    -webkit-animation: none;
            animation: none;
  }
  .logo-circ{
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    -webkit-animation: none;
            animation: none;
  }
  .spinner{
    -webkit-transform: translateX(-50%) rotateZ(0deg);
            transform: translateX(-50%) rotateZ(0deg);
    -webkit-animation: none;
            animation: none;
  }
}

/*page-load*/
